$white: #fffafa;
$dark-gray: #696969;
$light-gray: #eee9e9;
$gray: #8a8585;
$light-beige: #fff5ee;
$primary-color: #00bfff;
$secondary-color: #ff1493;
$green: #32cd32;
$lightest-blue: #f5fffa;
$light-blue: #d1f2ff;
$gold: #e8c300;

$break-tablet: 991.5px;
$break-phone: 767.5px;
