#create-recipe .img-wrapper {
  background-color: #ff1493;
}
#create-recipe .img-wrapper i {
  color: #ffaad6;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
  width: 100%;
}
.cookbook {
  .recipe-preview {
    width: calc(100% / 4 - 20px);
  }
  @media screen and (max-width: $break-tablet) {
    .recipe-preview {
      width: calc(100% / 3 - 20px);
    }
  }
  @media screen and (max-width: $break-phone) {
    h1 {
      font-size: 35px;
    }
    .recipe-preview {
      width: calc(100% / 2 - 20px);
      padding-bottom: 15px;
    }
  }
  @media screen and (max-width: 475px) {
    .recipe-preview {
      width: calc(100%);
    }
  }
}
.overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  .popup-wrapper {
    overflow-y: scroll;
    width: 900px;
    height: 70%;
    @media screen and (max-width: $break-tablet) {
      width: 700px;
    }
    @media screen and (max-width: $break-phone) {
      width: 95%;
    }
    margin: 50px auto;
    border-radius: 4px;
    background-color: $white;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $white;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $dark-gray;
    }
    .popup-title {
      border-radius: 4px;
      position: fixed;
      background-color: $white;
      width: 900px;
      @media screen and (max-width: $break-tablet) {
        width: 700px;
      }
      @media screen and (max-width: $break-phone) {
        width: 95%;
      }
      padding: 10px 20px 5px 20px;
      h1 {
        font-size: 28px;
      }
      border-bottom: 1px solid $light-gray;
    }
    form {
      padding: 70px 20px 20px 20px;
    }
    .form-group label {
      color: #ff1493;
      font-weight: bold;
    }

    .table thead {
      color: #ff1493;
    }

    .add-button {
      background-color: #ff1493;
      color: #fffafa;
    }

    .btn-primary {
      background-color: #00bfff;
      border-color: #00bfff;
      color: #fffafa;
      width: 100%;
      font-size: 25px;
    }

    #add-quantity {
      width: 100%;
    }
    #edit-preparations {
      tbody .preparation div {
        width: calc(100% - 50px);
        float: left;
      }
    }
  }
}
