.remove-ingredient {
  float: right;
  background-color: $secondary-color;
}
#add-quantity-row {
  width: 25%;
}
#add-item-button {
  background-color: $primary-color;
}

.table i {
  float: right;
  font-size: 25px;
  color: #cdc9c9;
}
