.remove-ingredient {
  float: right;
  background-color: $secondary-color;
}
#add-quantity-row {
  width: 25%;
}
#add-quantity {
  width: calc(50% - 5px);
  margin-right: 5px;
  float: left;
}
#add-unit {
  width: calc(50% - 5px);
  margin-left: 5px;
}
#add-item-button {
  background-color: $primary-color;
}
