#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  padding: 4px 16px;
  height: 36px;
  border-bottom: 1px solid $dark-gray;
  #logo {
    margin-left: 2.5px;
    margin-right: auto;
    width: 150px;
    height: 100%;
    background-color: $white;
    color: $secondary-color;
    text-align: center;
    font-size: 30px;
    line-height: 12px;
  }
  i {
    color: $white;
  }
  #links,
  li {
    height: 36px;
    background-color: $primary-color;
  }
  #overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    display: none;
  }
  #links {
    position: absolute;
    top: 0;
    left: -220px;
    display: none;
    height: 100vh;
    background-color: $light-beige;
    border-right: 2px solid $secondary-color;
    #dropdown-header {
      text-align: center;
      font-size: 30px;
      padding: 5px 0 0 0;
      height: 60px;
      &:hover {
        cursor: pointer;
      }
    }
    hr {
      margin: 10px 0;
      border-color: lighten($secondary-color, 35%);
    }
    li {
      width: 220px;
      background-color: $light-beige;
      cursor: pointer;
    }
    a:hover {
      background-color: lighten($dark-gray, 30%);
    }
    li:active,
    a:active {
      background-color: $dark-gray;
    }
    a {
      padding-left: 16px;
      background-color: $light-beige;
      color: black;
      i {
        color: black;
        padding-left: 5px;
        padding-right: 15px;
      }
    }
  }
  @media screen and (max-width: $break-tablet) {
    #logo {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#nav-placeholder {
  height: 36px;
}

#login-signup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 11;
  .form-group label {
    color: $secondary-color;
    font-weight: bold;
  }

  .btn {
    background-color: $green;
    border-color: $green;
    color: $white;
    width: 125px;
    font-size: 18px;
    margin-top: 5px;
  }
  .form {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 4px;
    background-color: $white;
  }
  .error-msg {
    color: red;
    font-size: 11px;
    padding-top: 3px;
    margin-bottom: -10px;
  }
  #login-form {
    #signup-button {
      background-color: $secondary-color;
      border-color: $secondary-color;
      float: right;
    }
  }
  #signup-form {
    display: none;
    margin-top: 30px;
    #signup-back-button {
      background-color: $secondary-color;
      border-color: $secondary-color;
      float: right;
    }
  }
}
